/* Reset default styles */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Styling for the entire content area */
#content {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Styling for the assignment boxes */
.assignment-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.assignment-box h3 {
    font-size: 1.2em;
    margin: 0 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.assignment-box ul {
    list-style-type: none;
    padding: 0;
}

.assignment-box li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

/* Add a bit of spacing to the add homework form */
#addPage {
    margin-top: 20px;
}

input[type="text"], input[type="date"], button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

/* Style the add homework button */
#addBtn {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addBtn:hover {
    background-color: #0056b3;
}

/* Style the delete button */
.delete-button {
    background-color: #ff5733;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #ff3019;
}
